@charset "utf-8";
body {
	width: 100vw;
	height: 100vh;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
button{padding: 0;margin:0;border:none;background:none;}
/* 主容器 */
.ws-qw-page-fill{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page-fillwidth{
    position: absolute;
    width: 100%;
}
.qw2-t2{
    width:42.5vw;
    top:8.63vh;
    left:7.26vw;
    z-index:9;
}
.page-fillheight{
    position: absolute;
    height: 100%;
}
.page-secondmenuV {
    background: none;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width:20.78125vw;
    left:3vw;
    top:10.515873015873016vh;
    z-index:9;
}

.page-secondmenuV img {
    display:block;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    display: block;
    width:100%;
    margin-bottom:2vw;
    overflow:hidden;
}
.page-type-menu{
    position:absolute;
    top:85vh;
    left:20vw;
    z-index:9;
}
.page-type-menu img{
    display:block;
    width:10.5vw;
    float:left;
    margin-right:5.9375vw;
}
.ws-qw-container,
.swiper-page {
    position: absolute;
    top:0;left:0;
    background: none;
    width: 100%;
    max-width:640px;
    height: 100%;
    max-height:1008px;
    margin:0 auto;
}
.page-container>.swiper-wrapper>.swiper-slide {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px rgba(102,102,102,.2);
}

.page-container>.swiper-pagination {
    width: 2vw;
}
.swiper-page>.swiper-slide{
    display:block;
    width:100%;
    height:100%;
}
.swiper-pagination-bullet{
    background:#535353;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: #ffa70b;
}
.ws-qw-spot{
    display:none;
    position:absolute;
    z-index:11;
}
.ws-qw-spot img{
    display:block;
    width:100%;
}
.ws-qw-spot .spot-colise{
    width:4.375vw;
    height:4.375vw;
    position:absolute;
    top:0;
    right:0;
}
.ws-qw-p-btn{
    width:12.1875vw;
    height:3.27vh;
    position:absolute;
}
.p5-btn1{
    height:5.4vh;
    top:51.289vh;
    left:41.328vw;
}
.p5-btn2{
    height:5.2vh;
    top:41.17vh;
    left:34.843vw;
}
.p5-btn3{
    height:5.4vh;
    top:39vh;
    left:13.9vw;
}
.p5-btn4{
    height:5.4vh;
    top:50.198vh;
    left:14.1vw;
}
.p5-btn5{
    height:5.4vh;
    top:43.15vh;
    left:1.7vw;
}
.p5-btn6{
    height:5.4vh;
    top:50.843vh;
    left:68.59vw;
}
.p5-btn7{
    height:5.4vh;
    top:28.323vh;
    left:6.71vw;
}
.p5-btn8{
    width:19vw;
    top:47.37vh;
    left:26vw;
}
.p5-btn9{
    height:5.4vh;
    top:51.38vh;
    left:54.375vw;
}
.p5-btn10{
    top:46.527vh;
    left:64.75vw;
}
.p5-btn11{
    height:4.4vh;
    top:43.55vh;
    right:0;
}
.p5-spot1{
    width:41.3vw;
    top:16.26vh;
    left:7.96vw;
}
.p5-spot2{
    width:35.2vw;
    top:11vh;
    left:34.68vw;
}
.p5-spot3{
    width:35.2vw;
    top:9.22vh;
    left:10.31vw;
}
.p5-spot4{
    width:35.2vw;
    top:56.25vh;
    left: 0.46vw;
}
.p5-spot5{
    width:35.2vw;
    top:12.996vh;
    left:4.0625vw;
}
.p5-spot6{
    width:41.5vw;
    top:18.65vh;
    left:32.65vw;
}
.p5-spot7{
    width:36.6vw;
    top:8.531vh;
    left:18.9vw;
}
.p5-spot8{
    width:35.8vw;
    top:10.813vh;
    left:3.4375vw;
}
.p5-spot9{
    width:35.2vw;
    top:14.583vh;
    left:41vw;
}
.p5-spot10{
    width:35.7vw;
    top:9.92vh;
    left:36.71vw;
}
.p5-spot11{
    width:35.2vw;
    top:47.123vh;
    left:58.34vw;
}
.p6-btn1{
    width:20.39vw;
    height:5.5vh;
    top:40.228vh;
    left:77.656vw;
}
.p6-btn2{
    width:17.656vw;
    height:5.4vh;
    top:47.123vh;
    left:81.32vw;
}
.p6-btn3{
    width:12.1875vw;
    height:7vh;
    top:45.68vh;
    left:0;
}
.p6-btn4{
    width:15.2vw;
    height:3.6vh;
    top:45.684vh;
    left:13.75vw;
}
.p6-btn5{
    width:17.6vw;
    height:3vh;
    top:38.4vh;
    left:13.75vw;
}
.p6-btn6{
    top:42.757vh;
    left:8.4375vw;
}
.p6-btn7{
    width:17.656vw;
    height:4.91vh;
    top:45vh;
    left:36.79vw;
}
.p6-btn8{
    top:43.25vh;
    left:57.34vw;
}
.p6-btn9{
    width:10vw;
    height:5.456vh;
    top:48.958vh;
    left:20.9375vw;
}
.p6-spot1{
    width:36.484vw;
    top:44.44vh;
    left:58.28vw;
}
.p6-spot2{
    width:36.484vw;
    top:46.527vh;
    left:59.21vw;
}
.p6-spot3{
    width:36.484vw;
    top:13.39vh;
    left:4.21875vw;
}
.p6-spot4{
    width:36.484vw;
    top:14.285vh;
    left:27vw;
}
.p6-spot5{
    width:35.78vw;
    top:10.714vh;
    left:30.156vw;
}
.p6-spot6{
    width:35.234vw;
    top:18.452vh;
    left:15.93vw;
}
.p6-spot7{
    width:35.234vw;
    top:19.84vh;
    left:30.468vw;
}
.p6-spot8{
    width:35.7vw;
    top:11.3vh;
    left:37.5vw;
}
.p6-spot9{
    width:36.5625vw;
    top:27.876vh;
    left:31.17vw;
}
.p7-btn1{
    width:15.546vw;
    height:3.869vh;
    top:42.956vh;
    left:7.89vw;
}
.p7-btn2{
    width:15.546vw;
    height:3.869vh;
    top:46vh;
    left:48.2vw;
}
.p7-spot1{
    width:35.23vw;
    top:48vh;
    left:0;
}
.p7-spot2{
    width:36.4vw;
    top:50vh;
    left:56vw;
}
.p8-btn1{
    width:15.546vw;
    height:5vh;
    top:44.24vh;
    left:0;
}
.p8-btn2{
    width:11.5625vw;
    height:5vh;
    top:41.319vh;
    right:0;
}
.p8-spot1{
    width:35.23vw;
    top:49.3vh;
    left:2.1vw;
}
.p8-spot2{
    width:36.64vw;
    top:41.7162vh;
    left:51.796vw;
}
.qw2_logo{
    position: absolute;display: block;z-index: 50;width: 46.25%;left:  43.59375%;top:  15.773809523809524%;height:  11.904761904761905%;pointer-events: none;
}
.qw3_logo{position: absolute;display: block;z-index: 50;width: 38.984375%;left:  26.09375%;top:  42.361111111111111%;height:  25.297619047619048%;pointer-events: none;}
.qw2_xiangmu{z-index: 9;pointer-events: none;}

.pt_switch{position: absolute;display: block;z-index: 100;width: 10.3125vw;height: 3.28125vw;background-image: url(../images/xiangqing.png);background-size: 100% 100%;}
.pt_switch.action{background-image: url(../images/shouqi.png);}
.pt_img{position: absolute;display: none;width: 100%;height: 100%;left: 0;top: 0;z-index: 8;pointer-events: none;}
.fangda{position: absolute;display: block;width: 100%;left:0%;top: 0%;pointer-events: none;height: 100%;}
/*******************************************************************************
 * 辅助：动画
 * 注：
 */
.animation-fadeinleft{
    animation: fadeInLeft 1s;
    -webkit-animation: fadeInLeft 1s;
}
.animation-fadeinright {
    position:absolute;
    animation: fadeInRight 1s;
    -webkit-animation: fadeInRight 1s;
}
.animation-fangda {
    position:absolute;
    animation: fangda 1s;
    -webkit-animation: fangda 1s;
}
.animation-scalecircle {
    animation: ScaleCircle 2s infinite;
    -webkit-animation: ScaleCircle 1s infinite;
}
@-webkit-keyframes fangda {
  0% {
    -webkit-transform: translate3d(-14.742014742014742%, -72.481572481572482%, 0);
    transform: translate3d(-14.742014742014742%, -72.481572481572482%, 0);
    -webkit-transform: scale3d(0, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
    -webkit-transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes ScaleCircle {
    0% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
    50% {
      opacity: 1;
      -webkit-transform: scale3d(1.5, 1.5, 1.5);
      transform: scale3d(1.5, 1.5, 1.5);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}